/*---------------------------------------------------------------------------*
 * Noto IKEA Latin
 *---------------------------------------------------------------------------*/

@font-face {
  font-family: "Noto IKEA";
  font-weight: normal;
  src: url("./assets/fonts/NotoIKEALatin-Regular.ttf");
}
@font-face {
  font-family: "Noto IKEA";
  font-weight: bold;
  src: url("./assets/fonts/NotoIKEALatin-Bold.ttf");
}
